.signin-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signin-flex-item {
  width: 50%;
  margin: 0 1px;
}

.signin-flex-item-icon {
  width: 15%;
  font-size: 30px;
}
