.register-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-flex-item {
  width: 85%;
}

.register-flex-item-icon {
  width: 15%;
  font-size: 30px;
}

.register-green {
  color: green;
}