@import "../../../scss/vars";

.register-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-flex-item {
  width: 85%;
}

.register-flex-item-icon {
  width: 15%;
  font-size: 30px;
}

.register-green {
  color: green;
}

.register-flex-space-between {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.register-link a {
  border-radius: 5px;
  background: #f0f0f0;
  padding: $margin / 2 $margin;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
