@import "../../../../scss/vars";

.folder-right {
  font-size: 26px;
  display: inline-block;
  padding: $margin / 2 $margin;
  background: $bg-widget;
  color: #555;
  border-bottom: 0;
}

.dmfolder-widget-folder__text {
  width: 100%;
  text-align: left;
  z-index: 9999;
}

.round-border-5px-except-right-top {
  border-radius: 0 5px 5px 5px;
}

.round-border-5px-only-top {
  border-radius: 5px 5px 0 0;
}

.round-border-5px-bottom {
  border-radius: 0 0 5px 5px;
}

.dmfolder-widget {
  p {
    font-size: 14px;
    color: #666;
  }
}

.dmfolder-widget__body {
  padding: $margin;
}

.dmfolder-widget__outline {
	background: $bg-widget;
  color: #fff;
}
