.profile-img {
	max-width: 100%;
	max-height: 300px;
	min-height: 300px;
}

.input-hidden {
	display: none;
}

.profile-modal-image {
	padding: 0;
	max-width: 92vw;
	max-height: 92vh;
}

.profile-modal-overlay {
	background-color: rgba(0,0,0, 0.1);
}

#profile-modal {
	padding: 0;
}
