@import "../../../../scss/vars";

.dm-button {
  min-height: 44px;
  display: flex;
  border: 0;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: $button-color-default;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.dm-button-icon {
  height: 100%;
  font-size: 1.7em;
}

.dm-button-color-aquamarine {
  background-color: $button-color-aquamarine;
}

.dm-button-color-peru {
  background-color: #d28559;
}

.dm-button-margin-top {
  margin-top: 3px;
}

.button-grey {
  background: #e5e5e5;
  color: #333;
  border: 1px solid #e1e1e1;
}

.button-grey:hover {
  background: #f0f0f0;
}

.button-transparent {
  font-size: 24px;
  background: transparent;
  color: #333;
  border: 0;
}

.button-red {
  font-size: 24px;
  background: #e63d3d;
  color: #fff;
  border: 1px solid #ca3a3a;
}

.button-red:hover {
  background: #eb1f1f;
}

.button-disabled {
  background: #e5e5e5;
  color: #333;
  border: 1px solid #e1e1e1;
}

.dm-button-outlined {
  background: transparent;
  border: 1px solid #555;
  color: #333;
}

.dm-button-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.dm-button-flex-item {
  width: 100%;
  margin-left: 1px;
  margin-right: 1px;
}
