@import "vars.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  background: $bg-color;
}

.round-border-3px {
  border-radius: 3px;
}

.round-border-5px {
  border-radius: 5px;
}

.round-border-5px-except-right-top {
  border-radius: 0 5px 5px 5px;
}

.round-border-5px-only-top {
  border-radius: 5px 5px 0 0;
}

.round-border-5px-bottom {
  border-radius: 0 0 5px 5px;
}

.App {
  text-align: center;
  color: $app-color;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.vertical-center {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-link {
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forgot-password {
  font-size: 14px;
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.forgot-password:hover {
  color: #333;
}

.fade-in-fx {
  animation: custom_fadein 0.5s;
}

.error-message {
  background: $bg-error;
  color: #fff;
  padding: 10px;
  margin: 7px 0;
  text-align: center;
}

.action-message {
  background: $bg-color;
  color: $app-color;
  font-size: 16px;
  padding: 7px;
}

.folder-right {
  font-size: 20px;
  display: inline-block;
  padding: 7px 14px;
  background: $bg-widget;
  color: #555;
  border: 1px solid $widget-border;
  border-bottom: 0;
}

.login-body {
  padding: 7px;
	background: $bg-widget;
  color: #555;
  border: 1px solid $widget-border;
}

.folder-center {
  width: 100%;
  text-align: left;
  margin-bottom: -1px;
  z-index: 9999;
}

.margin-top {
  margin-top: 21px !important;
}

.margin-top-10 {
  margin: 10px 0;
}

.margin-bottom {
  margin-bottom: 21px !important;
}

.custom-a a {
  border-radius:5px;
  background: #f0f0f0;
  padding: 7px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.slide-in-fx {
  animation: custom_slide_in 0.5s;
}

@keyframes custom_slide_in {
    from { left: -999px; }
    to   { left: 0; }
}

.in-folder-img {
  float: left;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 7px;
}

.round-border-50 {
  border-radius: 50%;
}

.fit-in-cover {
  width: 100%;
  height: 350px;
  object-fit: cover;
  text-align: center;
}

.fit-in-cover-product {
  width: 100%;
  height: 220px;
  border: 1px solid #fafafa;
  object-fit: cover;
  text-align: center;
}

.product-pic-shadow {
  box-shadow: 0px 0px 5px 3px rgba(235,235,235,1);
}

.container-fluid {
  max-width: 1440px;
}

.full-width {
  width: 100%;
}

.price {
  text-align: right;
}

.text-center {
  text-align: center;
}

.body-page-color {
  background: $bg-front-page-color;
  padding-top: 14px;
}

.body-page-margin-top {
  padding-top: 82px;
}

.body-page-margin-top-when-centered {
  padding-top: 62px;
}

a {
  color:rgb(148, 148, 0);
}

.soft-left-bottom-shadow {
  box-shadow: -10px 10px 15px -20px #999;
}

.soft-left-top-shadow {
  box-shadow: 0 0px 15px -10px #999;
}