// Font
$font-stack: 'Montserrat', sans-serif;

// Color scheme
$bg-color: #f8f8f8;
$bg-front-page-color: #fdfdfd;
$app-color: #555;
$bg-widget: #fafafa;
$bg-error: #ff6161;
$widget-border: #f7f7f7;

// Button colors
$button-color-aquamarine: #59d2ba;
$button-color-default: #5998d2;

// Images
$active-block-background: "/img/positive-bg.png";
