@import "../../scss/vars.scss";

.img-navbar {
  width: 40px;
  height: 40px;
  margin: 0 7px 0 7px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  font-size: 20px;
}

.navbar-user {
  font-size: 14px;
}

.navbar-body {
  padding: 10px;
  background: $bg-widget;
  color: $app-color;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

#navbar-sidebar-button {
  display: none;
}

#navbar-bottom-menu {
  display: none;
}

@media screen and (max-width: 576px) {
  #navbar-media-query {
    display: none;
  }

  #navbar-sidebar-button {
    display: block;
    text-align: right;
    font-size: 26px;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 99999;
  }

  #navbar-bottom-menu {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $bg-color;
    td {
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
    z-index: 99999;
  }
}
