@import "../../scss/vars";

$pr : "navbar";

.img-#{$pr} {
  width: 40px;
  height: 40px;
  margin: 0 $margin;
  border-radius: 50%;
  object-fit: cover;
}

.#{$pr} {
  font-size: 20px;
}

.#{$pr}-user {
  font-size: 14px;
}

.#{$pr}-body {
  padding: $margin / 2 0;
  color: $app-color;
  position: fixed;
  width: 100%;
}

.#{$pr}-button {
  width: 200px !important;
}

##{$pr}-sidebar-button {
  display: none;
}

##{$pr}-bottom-menu {
  display: none;
}

@media screen and (max-width: 576px) {
  ##{$pr}-media-query {
    display: none;
  }

  .#{$pr}-mobile-disabled {
    display: none;
  }

  ##{$pr}-sidebar-button {
    display: block;
    text-align: right;
    font-size: 26px;
    position: fixed;
    top: 10px;
    right: 20px;
  }
}

@media screen and (min-height: 500px) and (max-width: 576px) {
  ##{$pr}-bottom-menu {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    background: $bg-color;
    & td {
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
  }
}

.#{$pr}-networkStatus-icon {
  padding-right: $margin * 2;
  display: inline-block;
  color: #c0c0c0;
  font-size: 28px !important;
}
