$bg-widget: #f5f5f5;

.img-navbar {
  width: 40px;
  height: 40px;
  margin: 0 7px 0 7px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  font-size: 20px;
}

.navbar-user {
  font-size: 14px;
}

.navbar-body {
  padding: 10px;
  background: $bg-widget;
  color: #555;
}
